<!-- MAYBE DELETE THAT -->
<div class="h-100 w-100" id="luluwrapper-whole">

  <div class="luluh9" id="luluwrapper-top">
    <!-- Top navbar -->
    <!-- <ul class="luluvampireblack h-100 nav justify-content-end d-flex flex-row luluscrollx luluscrolly" id="lulutopnav"> -->
    <ul class="luluvampireblack h-100 nav justify-content-end d-flex flex-row" id="lulutopnav">

      <!-- LOGO -->
      <li class="h-100 p-1 nav-item me-auto">
        <img class="h-100 rounded" src="../assets/leika_transp.png" alt="leika logo">
      </li>

      <!-- TODO LEIKODE
      <li class="nav-item me-auto my-auto" *ngIf="!userLeikode">
        <span class="p-1 mx-2 lulugoldtxt fw-bold">{{userLeikode|slice:0:5}}</span>
      </li> -->

      <!-- CHAT -->
      <li class="nav-item my-auto">
        <!-- CHAT Offcanvas button -->
        <button class="lulugoldbtn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#chat-canvas"
          aria-controls="chat-canvas"><i class="fa-brands fa-rocketchat"></i></button>
        <!-- CHAT Offcanvas title/label + content -->
        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="chat-canvas" aria-labelledby="chat-canvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="chat-canvasLabel">What's up?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body mb-4">
            <app-contact></app-contact>
          </div>
        </div>
      </li>

      <!-- LOGOUT -->
      <li class="nav-item my-auto">
        <button class="lulugoldbtn btn" (click)="logout()">{{ userData.username }} <i
            class="fa-solid fa-right-from-bracket"></i></button>
      </li>

    </ul>
    <!-- end of topnavbar -->
  </div>

  <div class="luluh82 luluclear" id="luluwrapper-center">
    <!-- Tab Displayer -->
    <div class="h-100 tab-content">
      <!-- Accounts tab -->
      <div class="h-100 tab-pane fade show active" id="accountcomponent-displayer" role="tabpanel"
        aria-labelledby="accountcomponent-btn" tabindex="0">
        <app-accounts></app-accounts>
      </div>
      <!-- Transfer tab -->
      <div class="h-100 tab-pane fade" id="transfercomponent-displayer" role="tabpanel"
        aria-labelledby="transfercomponent-btn" tabindex="0">
        <app-transfer></app-transfer>
      </div>
      <!-- Manage tab -->
      <div class="h-100 tab-pane fade " id="managecomponent-displayer" role="tabpanel"
        aria-labelledby="managecomponent-btn" tabindex="0">
        <app-manage></app-manage>
      </div>
    </div>
  </div>

  <div class="luluh9" id="luluwrapper-bottom">
    <!-- Bottom navbar -->
    <ul class="luluvampireblack h-100 px-1 py-2 nav nav-pills d-flex flex-row justify-content-center align-items-center"
      id="lulubottomnav" role="tablist">
      <!-- Accounts btn -->
      <li class="luluw33 h-100 nav-item d-flex flex-column justify-content-center" role="presentation">
        <button class="lulugreytxt h-100 nav-link d-flex flex-column align-items-center justify-content-evenly active"
          id="accountcomponent-btn" data-bs-toggle="pill" data-bs-target="#accountcomponent-displayer" type="button"
          role="tab" aria-controls="accountcomponent-displayer" aria-selected="true">
          <i class="my-1 fa-solid fa-xl fa-chart-simple"></i>
        </button>
      </li>
      <!-- Transfers btn -->
      <li class="luluw33 h-100 nav-item d-flex flex-column justify-content-center" role="presentation">
        <button class="lulugreytxt h-100 nav-link d-flex flex-column align-items-center justify-content-evenly"
          id="transfercomponent-btn" data-bs-toggle="pill" data-bs-target="#transfercomponent-displayer" type="button"
          role="tab" aria-controls="transfercomponent-displayer" aria-selected="false">
          <i class="fs-4 fa-solid fa-arrow-right-arrow-left"></i>
        </button>
      </li>
      <!-- Manage btn -->
      <li class="luluw33 h-100 nav-item d-flex flex-column justify-content-center" role="presentation">
        <button class="lulugreytxt h-100 nav-link d-flex flex-column align-items-center justify-content-evenly"
          id="managecomponent-btn" data-bs-toggle="pill" data-bs-target="#managecomponent-displayer" type="button"
          role="tab" aria-controls="managecomponent-displayer" aria-selected="false">
          <i class="my-1 fa-solid fa-xl fa-ellipsis"></i>
        </button>
      </li>
    </ul>
  </div>

</div>