
#lulubottomnav .nav-link.active {
  background-color: var(--lulubg2);
  color: var(--lulugold) !important;
  border-radius: 7px !important;
}

#chat-canvas {
  height: fit-content; //maybe 91%if you prefer
}


///////////////////////////////////////////////

/* TEST LEILA = after click on login button, page is reloaded and loader animation from main component plays for on top of other components, meanwhile, loggedComponent is fading in (2s)
*/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#luluwrapper-whole {
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-name: fadeIn;
}


///////////////////////////////////////////////





