<a *ngFor="let transaction of sortedIncomingTransactions"
    class="luluincomingtransacard border rounded p-1 mt-1 d-flex flex-row justify-content-evenly align-items-center"
    data-bs-toggle="offcanvas" data-bs-target="#transaction-details-canvas" aria-controls="transaction-details-canvas">
    <img class="luluincomingtransacard-logo p-2" src="../../../../../../assets/categories/Incoming.ico" alt="ico">
    <div class="luluincomingtransacard-text px-2 d-flex flex-column justify-content-center align-items-start">
        <div class="luluincomingtransacard-title">
            {{ (transaction.title.length>25) ? (transaction.title|slice:0:25)+'..' : (transaction.title) }}
        </div>
        <div class="luluincomingtransacard-date-cardnb d-flex flex-row">
            <div *ngIf="transaction.transactionType=='Card'">{{'Card **** '+(transaction.transactionRef|slice:-4)}}</div>
            <div *ngIf="transaction.transactionType=='Direct Debit'">{{"SEPA "+transaction.transactionRef|slice:0:-17}}</div>
            <!-- <div *ngIf="transaction.transactionType=='Direct credit'">{{"From:"+transaction.transactionRef|slice:0:-17}}</div> -->
            <div *ngIf="transaction.transactionType=='Wire Transfer'">{{"Ref: "+transaction.transactionRef|slice:0:-17}}</div>
        </div>
        <div class="w-100 d-flex flex-row">
            <div class="fw-bolder luluincomingtransacard-date">
                <!-- {{'Planned for: ' + (transaction.submissionDate | slice:0:30)}} -->
                {{'Planned for: ' + formatDate(transaction.estimatedDate) }}
            </div>
            <div class="luluincomingtransacard-price luluw40 ms-auto d-flex flex-row align-items-start justify-content-evenly"
                [ngClass]="{'lulugreentransaction' : !transaction.isAmountNegative}">
                <div class="d-flex flex-row mx-1">
                    {{ transaction.amount | currency: 'EUR'}} 
                </div>
            </div>
        </div>
    </div>
</a>