<!-- TEST STATS WITH CHART JS -->
<!-- TODO: add container -->


<div id="chartScrollerContainer" class="d-flex justify-content-center"> 
    
  <div class="text-center">
    <div class="col">
      <div class="row my-4">
        <div class="chartContainer">
          <p class="mb-0">Debits to your account</p>
          <canvas id="barChart" height="400" width="400"></canvas>
        </div>
      </div>
      <div class="row my-4">
        <div class="chartContainer">
          <p class="mb-0">Positive/Negative Transactions Comparison</p>
          <canvas id="lineChart" height="400" width="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  

</div> 


