//////////////////// Section picker
#lulusectionpicker {
    overflow-x: scroll;
    scrollbar-width: none;  /* Hide scrollbar in Firefox */
}
#lulusectionpicker .nav-link{
    color: var(--lulugrey4);
}
#lulusectionpicker .nav-link.active {
    background-color: inherit;
    color: black;
    border-radius: 0px;
    border-bottom: 1px solid black;
}

//////////////////// Section displayer
#transactionscomponent-displayer{
    overflow-y: scroll;
    // scrollbar-width: none;
}